@import "tailwindcss";

.font-serif {
  font-family: "Playfair+Display", serif;
}
.blob-shape-1 {
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}
.blob-shape-2 {
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
}
